<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DDYViewController</key>
	<dict>
		<key>PageEventIds</key>
		<dict>
			<key>Enter</key>
			<string>DDYViewController_Enter_PageIds</string>
			<key>Leave</key>
			<string>DDYViewController_Leave_PageIds</string>
		</dict>
	</dict>
	<key>DDYViewController1</key>
	<dict>
		<key>PageEventIds</key>
		<dict>
			<key>Enter</key>
			<string>DDYViewController1_Enter_PageIds</string>
			<key>Leave</key>
			<string>DDYViewController1_Leave_PageIds</string>
		</dict>
	</dict>
	<key>DDYViewController2</key>
	<dict>
		<key>PageEventIds</key>
		<dict>
			<key>Enter</key>
			<string>DDYViewController2_Enter_PageIds</string>
			<key>Leave</key>
			<string>DDYViewController2_Leave_PageIds</string>
		</dict>
	</dict>
</dict>
</plist>
