<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DDYViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>DDYViewController2_</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>9999999</string>
		<key>name</key>
		<string>测试页面</string>
	</dict>
	<key>CommunityViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1004</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001004</string>
		<key>name</key>
		<string>导读</string>
	</dict>
	<key>DDReadingGuideViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1000</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001000</string>
		<key>name</key>
		<string>导读内推荐页</string>
	</dict>
	<key>DDReadingGuideSubcribeViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1001</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001001</string>
		<key>name</key>
		<string>导读内订阅页</string>
	</dict>
	<key>ChannelDetailController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1126</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001126</string>
		<key>name</key>
		<string>专栏</string>
	</dict>
	<key>TopicController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1123</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001123</string>
		<key>name</key>
		<string>主题</string>
	</dict>
	<key>DiscoverDetailViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1124</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001124</string>
		<key>name</key>
		<string>热门文章详情</string>
	</dict>
	<key>RecommendController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1125</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001125</string>
		<key>name</key>
		<string>推荐专栏</string>
	</dict>
	<key>SearchController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1117</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001117</string>
		<key>name</key>
		<string>搜索页</string>
	</dict>
	<key>CreateStrategyController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1129</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001129</string>
		<key>name</key>
		<string>写攻略</string>
	</dict>
	<key>BookStoreController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1054</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001054</string>
		<key>name</key>
		<string>书城</string>
	</dict>
	<key>CartController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1130</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001130</string>
		<key>name</key>
		<string>购物车</string>
	</dict>
	<key>BookDetailController_New</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1138</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001138</string>
		<key>name</key>
		<string>单品页</string>
	</dict>
	<key>BookShelfNewViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1014</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001014</string>
		<key>name</key>
		<string>书房</string>
	</dict>
	<key>DDCloudMonthlyPaymentViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1118</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001118</string>
		<key>name</key>
		<string>云书房</string>
	</dict>
	<key>DDBookShelfMenuController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1119</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001119</string>
		<key>name</key>
		<string>书房更多</string>
	</dict>
	<key>DDBSAddEbooksViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1120</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001120</string>
	</dict>
	<key>DDCloudShelfViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1121</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001121</string>
	</dict>
	<key>DDReaderViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1122</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001122</string>
		<key>name</key>
		<string>内核阅读</string>
	</dict>
	<key>CommunityController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1002</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001002</string>
		<key>name</key>
		<string>社区</string>
	</dict>
	<key>DDHomeBookBarViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1116</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001116</string>
	</dict>
	<key>TheirsUserCenterController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1065</string>
			<key>Timer</key>
			<true/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001065</string>
		<key>name</key>
		<string>个人中心详情页</string>
	</dict>
	<key>StoryPlayViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1013</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001013</string>
		<key>name</key>
		<string>听书</string>
	</dict>
	<key>UserCenter3Controller</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1003</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001003</string>
		<key>name</key>
		<string>个人中心</string>
	</dict>
	<key>DDHomeNotificationViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1100</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001100</string>
		<key>name</key>
		<string>信息通知</string>
	</dict>
	<key>DDSettingViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1101</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001101</string>
		<key>name</key>
		<string>设置</string>
	</dict>
	<key>DDLoginController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1102</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001102</string>
		<key>name</key>
		<string>登录</string>
	</dict>
	<key>MyNoteController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1103</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001103</string>
		<key>name</key>
		<string>笔记</string>
	</dict>
	<key>ArticlePublishController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1104</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001104</string>
		<key>name</key>
		<string>文章</string>
	</dict>
	<key>MyReadingPlanListViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1105</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001105</string>
	</dict>
	<key>SignInController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1106</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001106</string>
		<key>name</key>
		<string>登录</string>
	</dict>
	<key>DDBigDataH5ViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1107</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001107</string>
		<key>name</key>
		<string>我的阅历</string>
	</dict>
	<key>MyFundController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1108</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001108</string>
		<key>name</key>
		<string>资产</string>
	</dict>
	<key>BookCollectController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1109</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001109</string>
		<key>name</key>
		<string>收藏</string>
	</dict>
	<key>DDBookFriendViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1110</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001110</string>
		<key>name</key>
		<string>书友</string>
	</dict>
	<key>SystemTaskViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1111</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001111</string>
		<key>name</key>
		<string>福利</string>
	</dict>
	<key>DDMyBoughtEBookController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1112</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001112</string>
		<key>name</key>
		<string>订单</string>
	</dict>
	<key>MyMonthlyChannelController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1113</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001113</string>
		<key>name</key>
		<string>租阅</string>
	</dict>
	<key>DDMyJoinedBarController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1114</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001114</string>
		<key>name</key>
		<string>书吧</string>
	</dict>
	<key>DDMyChannelController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1115</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001115</string>
		<key>name</key>
		<string>专栏</string>
	</dict>
	<key>ReadPlanPlanViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1143</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<false/>
		</dict>
		<key>EventIDs</key>
		<string>8001143</string>
		<key>name</key>
		<string>秒读计划</string>
	</dict>
	<key>ExchangeBookSquareController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1200</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001200</string>
		<key>name</key>
		<string>换书广场首页</string>
	</dict>
	<key>DDSearchBookResultController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1154</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001154</string>
		<key>name</key>
		<string>找一找搜索结果页</string>
	</dict>
	<key>DDCloudBuyBooksSlideController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1160</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001160</string>
		<key>name</key>
		<string>云书房</string>
	</dict>
	<key>ExchangeBookSelectingViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1162</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001162</string>
		<key>name</key>
		<string>请选择书籍</string>
	</dict>
	<key>ExchangeDetailController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1165</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001165</string>
		<key>name</key>
		<string>心愿详情</string>
	</dict>
	<key>WishListController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1172</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001172</string>
		<key>name</key>
		<string>心愿详情</string>
	</dict>
	<key>WriteWishController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1204</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001204</string>
		<key>name</key>
		<string>编写心愿</string>
	</dict>
	<key>ExchangeBookSquareDetailController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1177</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001177</string>
		<key>name</key>
		<string>书摊列表页</string>
	</dict>
	<key>LaunchExchangeController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1226</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001226</string>
		<key>name</key>
		<string>换书记录，我发起和参与，pid=7001226、7001227</string>
	</dict>
	<key>ExchangeBookSetUpBookstallViewController</key>
	<dict>
		<key>PageIDs</key>
		<dict>
			<key>Enter</key>
			<string>1204</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>EventIDs</key>
		<string>8001204</string>
		<key>name</key>
		<string>发书摊</string>
	</dict>
</dict>
</plist>
